@import '../../../sass-modules/breakpoints';
@import '../../../sass-modules/lengths';

.shopping__headerImageContainer {
  @media screen and (min-width: $break-service) {
    padding-bottom: 27rem;
  }
}

.headerImageContainer__shoppingImage {
  max-width: 29.375rem;
  width: 100%;
  display: block;
  margin: 0 auto;
  

  @media screen and (min-width: $break-xlarge) {
    max-width: initial;
    position: absolute;
    right: -4rem;
    width: 52vw;
  }
}