@import '../../../sass-modules/breakpoints';

/* paragraph --- */
.navstyles__serviceParagraph:first-of-type {
  margin-top: 6rem;
}
.navstyles__serviceParagraph:nth-of-type(3) {
  margin: 0 0 .8rem;
}
.navstyles__serviceParagraph:nth-of-type(4) {
  margin-top: 0;
  margin-bottom: 0;
}