@import '../../../sass-modules/breakpoints';
@import '../../../sass-modules/lengths';

.headerImageContainer__screens {
  max-width: 100%;
  position: relative;
  right: -1.5rem;

  @media screen and (min-width: $break-large) {
    max-width: initial;
    right: 0;
    width: 50vw;
  }
}