@import '../../sass-modules/breakpoints';

.howItWorksList {
  text-align: center;
}

/* ========================
Thriller Item
=========================== */
.navboxStep {
  display: inline-block;
  text-align: center;
  padding: 1rem;

  @media screen and (min-width: $break-thriller) {
    width: 18.6rem;
  }
}

/* image */
.navboxStep__image {
  max-width: 8rem;

  @media screen and (min-width: 37.0625rem) { // 593px
    max-width: 9rem;
  }
}

/* title --- */
.navboxStep__title {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1rem 0 .5rem;
}

/* paragraph --- */
.navboxStep__paragraph {
  margin: 0;
}