@import '../../sass-modules/breakpoints',
        '../../sass-modules/lengths';

/* ===============================
Service Image Container 
================================== */
.service__imageContainer {
  // animation: up-down 3s infinite ease-in-out;
  position: relative;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// modifiers
.service__imageContainer_width_limited {
  max-width: $service_image_max-width;
}
.service__imageContainer_positionOnSmallScreen_center {
  margin-left: auto;
  margin-right: auto;
}
.service__imageContainer_positionOnSmallScreen_left {
  margin-right: auto;
}
.service__imageContainer_imagePositionOnSmallScreen_center {
  text-align: center;
}
.service__imageContainer_widthOnlargeScreen_lessThanHalf {
  @media screen and (min-width: $break-service) {
    width: 40%;
  }
}
.service__imageContainer_widthOnlargeScreen_half {
  @media screen and (min-width: $break-service) {
    width: 50%;
  }
}
.service__imageContainer_widthOnlargeScreen_overHalf {
  @media screen and (min-width: $break-service) {
    width: 55%;
  }
}
.service__imageContainer_floatOnlargeScreen_right {
  @media screen and (min-width: $break-service) {
    float: right;
  }
}
.service__imageContainer_floatOnlargeScreen_left {
  @media screen and (min-width: $break-service) {
    float: left;
  }
}

/* ---------------------
Service Image 
------------------------ */
.service__image_width_full {
  width: 100%;
}
.service__image_style_normal {
  width: 100%;
  max-width: 32.25rem;
  @media screen and (min-width: $break-service) {
    max-width: initial;
  }
}
.service__image_extend_left {
  width: 100%;
  max-width: 32.25rem;
  margin-left: -1.5rem;
  @media screen and (min-width: $break-service) {
    width: 50vw;
    max-width: 47.375rem;

    position: absolute;
    right: 0;
  }
}
.service__image_upOnlargeScreen_high {
  margin-top: -4rem;
}
.service__image_upOnlargeScreen_med {
  margin-top: -2rem;
}

/* fillers for lazy loading */
@media screen and (max-width: $break-service) {
  .navbox {
    .service__imageContainer {
      padding-bottom: 29.384rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 91.114%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .styles, .styles2 {
    .service__imageContainer {
      padding-bottom: 30.895rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 95.798%;
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .view360 {
    .service__imageContainer {
      padding-bottom: 32.783rem;
      @media screen and (max-width: 33rem) {
        padding-bottom: 109.277%;
      }
    }
    .image__container {
      padding-bottom: 35.681rem;
      @media screen and (max-width: 33rem) {
        padding-bottom: 118.937%;
      }
    }
    .chair__image {
      position: absolute;
    }
  }

  .controlPanel {
    .service__imageContainer {
      padding-bottom: 50.039%;
    }
    .service__image {
      position: absolute;

      &:nth-child(2) {
        right: 0;
      }
    }
  }

  .dashboard {
    .service__imageContainer {
      padding-bottom: 21.237rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 64.953%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .paymentOptions {
    .service__imageContainer {
      padding-bottom: 23.138rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 71.747%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .navbox2 {
    .service__imageContainer {
      padding-bottom: 26.218rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 81.299%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%);
    }
  }

  .seo, .seo2, .seo3 {
    .service__imageContainer {
      padding-bottom: 31.465rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 97.568%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%);
    }
  }

  .styles3 {
    .service__imageContainer {
      padding-bottom: 20.963rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 65%;
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .styles4 {
    .service__imageContainer {
      padding-bottom: 24.499rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 75.966%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .marketing {
    .service__imageContainer {
      padding-bottom: 25.375rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 78.683%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%);
    }
  }

  .editor, .editor2, .editor3 {
    .service__imageContainer {
      padding-bottom: 22.426rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 69.54%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%);
    }
  }

  .dashboard2 {
    .service__imageContainer {
      padding-bottom: 22.277rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 69.077%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0;
    }
  }

  .dashboard3 {
    .service__imageContainer {
      padding-bottom: 19.318rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 59.903%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%);
    }
  }

  .dashboard4, .dashboard5 {
    .service__imageContainer {
      padding-bottom: 22.009rem;
      @media screen and (max-width: 35.25rem) {
        padding-bottom: 68.244%; 
      }
    }
    .service__image {
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%);
    }
  }
} 

/* animation */
.loaded {
  animation: fadeInImg .7s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
}