@import '../../sass-modules/breakpoints',
        '../../sass-modules/colors';

/* title --- */
.serviceSection__title {
  position: absolute;
  left: -100rem;
}

/* service item --- */
.serviceList__item {
  margin-bottom: 6rem;
}

/* ================================
Home 
=================================== */
.home__serviceSection {
  margin: 4rem 0 0;
  overflow: hidden;

  .serviceList__item:last-child {
    @media screen and (min-width: $break-service) {
      margin-top: 18.5rem;
    }
  }
}

/* ================================
NavStyle 
=================================== */
.navstyle__serviceSection {
  margin-top: 4rem;
}

.shopping__serviceSection {
  .serviceList__item:first-child {
    margin-bottom: 8rem;
  }
}

/* ================================
Shopping
=================================== */
.shopping__serviceSection {
  margin: 7rem 0;
}

/* ================================
360 Editor 
=================================== */
.editor360__serviceSection {
  margin: 7rem 0;
}

/* ================================
Dashboard
=================================== */
.dashboard__serviceSection {
  margin: 7rem 0;
}