@import '../../sass-modules/breakpoints';
@import '../../sass-modules/lengths';

/* ===============================
View 360 
================================== */
.view360 {
  @media screen and (min-width: $break-service) {
    margin: 12rem calc((-100vw + #{$max-width}) / 2) 0;
  }

  @media screen and (min-width: $break-service2) {
    margin: 12rem -15rem 0;
  }

  .service__imageContainer:first-child {
    max-width: 30rem;
    margin-left: auto;
    margin-bottom: 9rem;
    right: -1.5rem;

    @media screen and (min-width: $break-service) {
      right: 0;
      float: right;
      width: 30vw;
    }

    .service__eye {
      position: absolute;
      top: 17rem;
      right: 5rem;
      width: 5rem;
    }
  }

  .service__image {
    position: relative;
    top: 10.5rem;
  }

  .service__content {
    @media screen and (min-width: $break-service) {
      width: 40vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      position: relative;
      top: 14rem;
    }
  }
}

.service__360Badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 12rem;
}

/* -----------------
chair
-------------------- */
.chair {
  max-width: 30rem;
  margin-top: 2rem;
  position: relative;
  left: -1.5rem;

  @media screen and (min-width: $break-service) {
    left: 0;
    float: left;
    width: 30vw;
    margin-top: -13rem;
  }
}

/* image --- */
.chair__image {
  width: 100%;
}

/* eye --- */
.chair__eye {
  width: 100%;
}

/* popup button */
.chair__button {
  width: 5rem;
  position: absolute;
  bottom: 15%;
  left: 4%;

  &[aria-pressed="true"] {
    & ~ .chair__popup,
    & ~ .chair__info {
      transform: scale(1);
      transition: transform .3s cubic-bezier(.14,1.31,.79,1.01);
    }
  }
}

/* popup --- */
.chair__popup {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 1;

  transform: scale(0);
  transition: transform .4s;
}

/* text --- */
.chair__info {
  text-align: center;
  width: 16rem;

  position: absolute;
  top: 16%;
  left: 25%;
  z-index: 1;

  transform: scale(0);
  transition: transform .4s;
}
.chair__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.chair__paragraph {
  line-height: 1.7;
}