@import '../../sass-modules/colors';
@import '../../sass-modules/breakpoints';
@import '../../sass-modules/lengths';

.service {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

/* title --- */
.service__title {
  position: absolute;
  left: -100rem;
}

/* item --- */
.stepList__step {
  margin: 1.5rem 0;
}

/* paragraph --- */
.service__paragraph:nth-of-type(2) {
  margin: 0;
}

/* step icon --- */
.step__icon {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  margin-right: .5rem;
  vertical-align: middle;

  background-image: url(../../image/step-icons.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-y: center;
}

/* step explanation --- */
.step__explanation {
  width: 3rem;
  color: $light-grey;
  vertical-align: middle;
  margin-left: .4rem;
}

/* button --- */
.service__button:first-of-type {
  margin-right: 1.5rem;
  margin-bottom: .5rem;
}

/* ===============================
Steps Icons 
================================== */
.navbox {
  .stepList__step {
    &:nth-child(1) {
      .step__icon {
        background-position-x: 0;
      }
    }
    &:nth-child(2) {
      .step__icon {
        background-position-x: -.8rem;
      }
    }
    &:nth-child(3) {
      .step__icon {
        background-position-x: -1.6rem;
      }
    }
  }
}

.styles {
  .stepList__step {
    &:nth-child(1) {
      .step__icon {
        background-position-x: -2.4rem;
      }
    }
    &:nth-child(2) {
      .step__icon {
        background-position-x: -3.2rem;
      }
    }
    &:nth-child(3) {
      .step__icon {
        height: 0.751875rem;
        background: url(../../image/step-icon6.png) no-repeat center / .8rem .8rem;
      }
    }
  }
}

.styles2 {
  .stepList__step {
    &:nth-child(1) {
      .step__icon {
        background-position-x: -2.4rem;
      }
    }
    &:nth-child(2) {
      .step__icon {
        background-position-x: -3.2rem;
      }
    }
    &:nth-child(3) {
      .step__icon {
        height: 0.751875rem;
        background: url(../../image/step-icon6.png) no-repeat center / .8rem .8rem;
      }
    }
  }
}

.controlPanel {
  .stepList__step {
    &:nth-child(1) {
      .step__icon {
        height: 0.699375;
        background: url(../../image/step-icon7.png) no-repeat center / .8rem .8rem;
      }
    }
    &:nth-child(2) {
      .step__icon {
        background-position-x: -4rem;
      }
    }
    &:nth-child(3) {
      .step__icon {
        background-position-x: -4.8rem;
      }
    }
  }
}

.dashboard {
  .stepList__step {
    &:nth-child(1) {
      .step__icon {
        height: 0.970625rem;
        background: url(../../image/step-icona.png) no-repeat center / .8rem auto;
      }
    }
    &:nth-child(2) {
      .step__icon {
        background-position-x: -5.6rem;
      }
    }
    &:nth-child(3) {
      .step__icon {
        background-position-x: -6.4rem;
      }
    }
  }
}

/* ===============================
NavBox 
================================== */
/* google icon --- */
.step__googleIcon {
  width: 3rem;
  vertical-align: middle;
  margin-left: .4rem;
}

/* Google badge --- */
.service__googleBadge {
  width: 22%;
  position: absolute;
  top: 8%;
  left: -9%;
}

/* barcode --- */
.service__barcode {
  width: 20%;
  position: absolute;
  top: 30%;
  left: 0;
}

/* online payment badge --- */
.service__onlinePaymentBadge {
  width: 40%;
  position: absolute;
  top: 8%;
  right: 5%;
}

/* design editor badge --- */
.service__designEditorBadge {
  width: 40%;
  max-width: 12.9rem;
  position: absolute;
  top: 55%;
  left: 0;
}

/* 360 view badge --- */
.service__360ViewBadge {
  width: 40%;
  position: absolute;
  top: 35%;
  right: -10%;
}

/* ===============================
Styles 
================================== */
.styles2 {
  @media screen and (min-width: $break-service) {
    margin-bottom: 12rem;
  }
}

.styles3 {
  .service__image {
    width: 100%;
    max-width: 32.25rem;
    margin-left: -1.5rem;

    @media screen and (min-width: $break-service) {
      width: 67vw;
      margin-left: calc((-100vw + #{$max-width})/2 - 1.5rem);
      max-width: 62rem;
    }

    @media screen and (min-width: $break-service2) {
      width: 67vw;
      margin-left: -13rem;
      max-width: 62rem;
    }
  }

  .service__content {
    @media screen and (min-width: $break-service) {
      margin-top: 29rem; 
    }
  }
}

.styles4 {
  .service__image {
    @media screen and (min-width: $break-service) {
      position: absolute;
      top: 0;
      left: -5rem;
      width: 141%; 
    }
  }
}

/* ===============================
Dashboard
================================== */
.dashboard {
  .service__imageContainer {
    margin-left: -1.5rem;
    max-width: $service_image_max-width;
    margin-right: auto;

    @media screen and (min-width: $break-large) {
      margin-left: calc((-100vw + #{$max-width}) / 2 - 1.5rem);
    }

    @media screen and (min-width: $break-service) {
      margin-left: 0;
      position: absolute;
      right: 50vw;
      max-width: initial;
      width: 50vw;
      max-width: 47.375rem;
    }
  }

  .service__badge {
    width: 40%;

    &:nth-child(2) {
      position: absolute;
      top: 18%;
      right: -3rem;
    }

    &:nth-child(3) {
      position: absolute;
      top: 40%;
      right: -1rem;
    }
  }
}

.dashboard2 {
  @media screen and (min-width: $break-service) {
    padding-bottom: 5rem;
  }
}

.dashboard3 {
  .service__image {
    width: 100%;
    max-width: $service_image_max-width;

    @media screen and (min-width: $break-service) {
      width: 120%;
      max-width: initial;
    }
  }
}
