@import '../../../sass-modules/breakpoints';

.navbox__serviceSection {
  margin: 3.5rem 0;

  @media screen and (min-width: $break-service) {
    margin: 7rem 0;
  }
}

/* service items --- */
.navbox__serviceSection .serviceList__item:last-of-type {
  position: relative;
  top: -3rem;
}