@import '../../../sass-modules/breakpoints';
@import '../../../sass-modules/lengths';

.styles__headerImageContainer {
  @media screen and (min-width: $break-large) {
    padding-bottom: 30vw;
  }
}

.headerImageContainer__styles {
  transform: rotateY(180deg);
  width: 100%;
  max-width: 30.4rem;
  margin-right: -1.5rem;

  @media screen and (min-width: $break-large) {
    margin-right: 0;
    max-width: initial;
    width: 50vw;
    position: absolute;
    left: 0;
    top: -2rem;
  }
}