@import '../sass-modules/colors';

.App {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 28%;
    right: 0;
    z-index: -1;
    width: 97%;
    height: 35rem;
    background-color: $ribbon;
  
    transform-origin: 100% 0;
    transform: rotate(-24deg);
  }
}