@import '../../sass-modules/colors',
        '../../sass-modules/breakpoints';

.country {
  font-size: .9rem;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  min-width: 16.25rem;
  padding: 0 1.4rem;
  vertical-align: top;

  @media screen and (min-width: $break-countries) {
    text-align: left;
  }
}

.countryList__country {
  margin-right: -.3rem;
  margin-bottom: 3rem;
}

/* name --- */
.country__countryName {
  font-weight: 500;
  margin: 0 0 .9rem;
}

/* customer service title --- */
.country__customerServicesTitle {
  font-weight: 500;
  color: $blue;

  margin: 0 0 1rem;
}

/* =============================
Customer Services
================================ */
/* item --- */
.customerServices__item:first-child {
  margin-bottom: 1rem;
}

/* contact icon --- */
.customerServices__contactIcon {
  display: none;
  width: 1rem;
  vertical-align: middle;
  margin-right: .19rem;

  @media screen and (min-width: 380px) {
    display: inline;
  }
}

/* mail --- */
.customerServices__contactLink {
  margin-left: -3.78px;

  @media screen and (min-width: 380px) {
    margin-left: 0;
  }
}