@import '../../../sass-modules/breakpoints';

/* badges --- */
.dashboard .service__badge {
  width: 13rem;
  position: absolute;
}

.dashboard .service__badge:nth-of-type(2) {
  top: 4rem;
  right: -7%;
}

.dashboard .service__badge:nth-of-type(3) {
  top: 9rem;
  right: -2%;
}