@import '../../../sass-modules/breakpoints';

/* 360 --- */
.service__360Badge {
  width: 13rem;
  top: -10rem;
  z-index: -1;
}

/* phone image --- */
.service__laptopImage {
  margin: 0 -1.5rem -2rem 0;
}

/* eye --- */
.service__eye {
  width: 5.5rem;
  position: absolute;
  top: 10rem;
  right: 5rem;
}

/* modal --- */
.chair__modal {
  position: absolute;
  left: 10%;
  top: 18%;
  z-index: 1;
}

/* chair eye --- */
.chair__eye {
  width: 5.5rem;
  position: absolute;
  top: 60%;
  left: 20%;
}

/* chair content --- */
.chair__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.chair__content {
  text-align: center;
  max-width: 16rem;

  position: absolute;
  left: 12%;
  top: 23%;
  z-index: 2;
}