@import './sass-modules/breakpoints',
        './sass-modules/colors';

html {
  font-size: .9rem;

  @media screen and (min-width: 768px) {
    font-size: .95rem;
  }

  @media screen and (min-width: 992px) {
    font-size: 1rem;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-grey;
  
  @media screen and (min-width: $break-header) {
    overflow-x: hidden;
  }
}

body[data-scroll="false"] {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
