@import '../../../sass-modules/breakpoints';
@import '../../../sass-modules/lengths';

.headerImageContainer__computer {
  width: 100%;
  max-width: 30.4rem;

  @media screen and (min-width: $break-xlarge) {
    width: 115%;
    max-width: initial;
    position: absolute;
    left: 0;
    top: -2rem;
  }
}