@import '../../sass-modules/lengths',
        '../../sass-modules/breakpoints',
        '../../sass-modules/colors';

.slider {
  &:focus {
    outline: none;
    
    .slider__wrapper {
      outline: 1px solid rgba($color: $blue, $alpha: .4);
    }
  }
}

.App__slider {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* wrapper */
.slider__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* slides list */
.slider__list {
  position: absolute;
  transition: transform .4s;
}

/* slide */
.slide {
  box-sizing: border-box;
  display: inline-block;
}

/* ========================================
Styles Slider
=========================================== */
.styleSlider {
  height: $style-slide * 244 / 408;
  margin-top: -2rem;
  margin-bottom: 5rem;

  @media screen and (min-width: 374px) {
    height: $style-slide-big * 244 / 408;
  }

  @media screen and (min-width: $break-service) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 7rem 0;
  }

  &.small {
    width: $style-slide;

    @media screen and (min-width: 374px) {
      width: $style-slide-big;
    }

    @media screen and (min-width: $break-style-slider) {
      display: none;
    }
  }

  &.med {
    width: 2 * $style-slide;

    @media screen and (min-width: 374px) {
      width: 2 * $style-slide-big;
    }

    display: none;
    @media screen and (min-width: $break-style-slider) and (max-width: $break-style-slider-large) {
      display: block;
    }
  }

  &.large {
    width: 3 * $style-slide;

    @media screen and (min-width: 374px) {
      width: 3 * $style-slide-big;
    }

    @media screen and (max-width: $break-style-slider-large) {
      display: none;
    }
  }

  .slider__list {
    width: 11 * $style-slide;

    @media screen and (min-width: 374px) {
      width: 11 * $style-slide-big;
    }

  }

  .slide {
    padding: 1rem .8rem;
    max-width: $style-slide;

    @media screen and (min-width: 374px) {
      max-width: $style-slide-big;
    }

  }

  .slider__leftArrow {
    left: -8.8vw;

    @media screen and (min-width: 333px) {
      left: -10vw;
    }

    @media screen and (min-width: 360px) {
      left: -9vw;
    }

    @media screen and (min-width: 420px) {
      left: -3rem;
    }
  }
  
  .slider__rightArrow {
    right: -8.8vw;

    @media screen and (min-width: 333px) {
      right: -10vw;
    }

    @media screen and (min-width: 360px) {
      right: -9vw;
    }

    @media screen and (min-width: 420px) {
      right: -3rem;
    }
  }
}

/* image */
.slide__image {
  width: 100%;
}

/* ========================================
Country Slider
=========================================== */
.countrySlider {
  height: 12.7rem;
  width: $country-slide;
  padding: 4rem 0;
  margin-top: 4rem;

  @media screen and (min-width: $break-countries) {
    display: none;
  }

  .slider__list {
    width: 5 * $country-slide;
  }

  .slide {
    width: 20%;
  }

  .slider__leftArrow {
    left: -2.5rem;
  }
  
  .slider__rightArrow {
    right: -2.5rem;
  }
}

/* Country details */
